
Builds/VisualStudio2013/x64/
Builds/VisualStudio2015/x64/
*.opensdf
*.sdf
*.suo
*.VC.db
*.opendb
Builds/MacOSX/build
Builds/MacOSX/HybridApi.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/HybridApi.xcodeproj/xcuserdata/
